body {
    scroll-behavior: smooth;
}

.card i {
    transition: transform 0.2s ease-in-out;
}

.card:hover i {
    transform: scale(1.2);
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}
